{% extends 'base.html' %}

{% block content %}
<form action="/countries/add" method="POST">
    <table class="styled-table">

        <tr>
            <th>Name</th>
            <th>Continent</th>
            <th>Action</th>            
        </tr>
        <tr>
            <td>
                <input type="text" name="name" placeholder="Name" required autofocus>
            </td>
            <td>
                <select id="continent" name="continent_id">
                    {% for continent in continents %}
                        <option value="{{ continent.id }}">{{ continent.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <button type="submit">Add Country</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}