{% extends 'base.html' %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Continent</th>
        <th>Action</th>
    </tr>
    {% for country in countries %}    
    <tr>
        <td>{{country.name}}</td>
        <td>{{country.continent.name}}</td>
        <td>
            <form action="" method="POST">
                <input type="hidden" name="country_id" value="{{country.id}}">
                <button type="submit" formaction="/countries/edit">Edit</button>
                <button type="submit" formaction="/countries/delete">Delete</button>
            </form>
        </td>
    </tr> 
    {% endfor %}
</table>

{% endblock %}