<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/single_locaiton_view.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/locations_grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    
    <title>Photo Locations App</title>
</head>

<body>
    <header id="top_menu">
        <ul>
            <li><a href="/" class="home_icon"><img class="top_bar_icon"
                        src="{{ url_for('static', filename='images/baseline_home_white_48dp.png') }}" alt=""></a></li>
            <li class="dropdown">
                <a href="/" class="dropbtn view_icon"><img class="top_bar_icon"
                        src="{{ url_for('static', filename='images/baseline_view_module_white_48dp.png') }}" alt=""></a>
                <div class="dropdown-content">
                    <a href="/locations/visited">Visited</a>
                    <a href="/locations/to_be_visited">To be visited</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="/" class="dropbtn add_icon"><img class="top_bar_icon"
                        src="{{ url_for('static', filename='images/baseline_library_add_white_48dp.png') }}" alt=""></a>
                <div class="dropdown-content">
                    <a href="/countries/new">Country</a>
                    <a href="/locations/new">Location</a>
                    <a href="/locations/api_test">API test</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="/" class="dropbtn edit_icon"><img class="top_bar_icon"
                        src="{{ url_for('static', filename='images/baseline_edit_white_48dp.png') }}" alt=""></a>
                <div class="dropdown-content">
                    <a href="/countries/view">Countries</a>
                    <a href="/locations/view">Locations</a>
                </div>
            </li>
            <form action="/search" method="POST">
                <li><input type="text" id="search_bar" placeholder="Search.." name="search"> </li>
                <li><input type="image" class="top_bar_icon"
                        src="{{ url_for('static', filename='images/baseline_search_white_48dp.png') }}"></li>

            </form>
        </ul>

    </header>
    <section>
        <p id="title">{{title}}</p>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p>Copyrights &#169 Aberdeenshire UK 2020. All Rights Reserved</p>
    </footer>
</body>

</html>