<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/locations_grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <title>Photo Locations App</title>
</head>

<body>
    <header id="top_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="" class="dropbtn">View</a>
                <div class="dropdown-content">
                    <a href="/locations/visited">Visited</a>
                    <a href="/locations/to_be_visited">To be visited</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="" class="dropbtn">Add</a>
                <div class="dropdown-content">
                    <a href="/countries/add">Country</a>
                    <a href="/locations/add">Location</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="" class="dropbtn">View</a>
                <div class="dropdown-content">
                    <a href="/countries/view">Countries</a>
                    <a href="/locations/view">Locations</a>
                </div>
            </li>
        </ul>

    </header>
    <section>
        <p id="title">{{title}}</p>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p>Copyrights &#169 Aberdeenshire UK 2020. All Rights Reserved</p>
    </footer>
</body>

</html>