{% extends 'base.html' %}

{% block content %}
<form action="/locations/add" method="POST">
    <table class="styled-table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Visited</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>
                <select id="country" name="country_id">
                    {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" id="name" name="name" placeholder="Name" required autofocus>
            </td>
            <td>
                <select id="visited" name="visited">
                    <option value="False">No</option>
                    <option value="True">Yes</option>
                </select>
            </td>
            <td>
                <textarea rows="4" cols="50" id="description" name="description" required></textarea>
            </td>
            <td>
                <button type="submit">Add Location</button>
            </td>
        </tr>
    </table>
</form>


{% endblock %}