{% extends 'base.html' %}

{% block content %}
<h1>To be visited locations</h1>

<div class="grid-container">
    {% for location in locations  %}
    <div class="card">
        <img class="card_image" src='{{url_for("static", filename="images/location.png")}}'>
        <div class="container">
            <h4><b>{{location.name}}</b></h4>
            <p>{{location.country.name}} </p>
            <p>({{location.country.continent.name}})</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}